*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1{
    display: flex;
    width: 100%;
    height: 700px;
    /* object-fit: cover; */

}

.left{
    flex-basis: 50%;
    background-color: black; 
}

.right{
    flex-basis: 50%;
    /* background-color:brown; */
    /* height: 800px; */
    width: 100%;
    padding: 3rem;
}

.subtitle{
    text-transform: capitalize;
    font-size: 1.8rem;
    color: rgb(238, 217, 147);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
 

.Title{
    color: white;
    text-transform: capitalize;
    font-weight: 100 ;
    margin-block: 3rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.bold{
    color: rgba(0, 0, 0, 0.747);
    font-weight: 800;
}
.para{
    margin-top: 2rem;
    font-size: 1.2rem;
    color: rgb(245, 229, 184);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.list{
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-left: 1.5 rem;
    color:white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cta{
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 2rem;
    width: fit-content;
    border: 2px solid white;
    border-radius: 5rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: all 0.6s ease-in-out;
}


.cta:hover{
    background-color:black;
    border-color:black;
    color: white;
   
}















*{
    margin: 0;
    padding: 0;
}
 .container2{
    display: flex;
    height:100%;
    width: 100%;   
} 

h2{
    /* font-size: small; */
     color: black;    
}

.text{
   font-size: large;
   color:black;
   /* background-color:brown; */
   flex-basis: 50%;
   height: 450px;
   padding: 2rem;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
  color: white;
    font-size: large;
    font-weight: 800;
}
h1{
    font-size: xx-large
}

.art{
    flex-basis: 25%;
    height: 450px;
    width: 300px;
}

.skill_group{
 
    color: black;
    font-size: large;
   flex-basis: 25%;
  padding-top: 1rem;
   padding-left: 3rem;
   font-size: x-large;
   height: 450px;
   width: 600px;
   /* background-color:rgba(105, 151, 238, 0.685);  */
}

 .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  } 
  
   .skills__meta {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  } 
  
   .skills__title {
    font-size: 2.5rem;
    font-weight: 300;
  } 
  
   .skills__title--white {
    color:black;
  } 
   .skills__subtitle {
    color:black;
    font-size: 1rem;
    font-weight: normal;
    margin: 2rem 0;
  } 
  
   .skills__subtitle--white {
    color: white;
    margin: 0 0 2rem 0;
  } 
  
   .skills__para {
    color: gray;
  }
  
  .skills__para:nth-of-type(even) {
    margin-top: 1rem;
  } 
  
   .skills__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    /* background-color: #e3ae57; */
  } 
  
   .skills__img-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  } 
  
   .skills__img {
    width: 100%;
    display: block;
  } 
  
  .skills__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 2rem;
  }
   
  .skill {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .skill__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 280px;
  }
  
  .skill__row:nth-of-type(1) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0.8rem;
  }
  
  .skill__row:nth-of-type(2) {
    position: relative;
  } 
  
  .skill__count {
    color:black;
    font-weight: 400;
  }

    .skill__progress {
    width: 100%;
    height: 2px;
    background-color:black;
    position: relative;
  }  
  
   .skill__filled {
    width: 10px;
    height: 2px;
    
    position: absolute;
  } 
   .languages{
      margin-top: 2rem;
      margin-right: 1rem;
  } 
















*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container3{
    /* background-color:wheat; */
    height: 100%;
    width: 100%;
    display: flex;
}



h1{
    color:black;
}

.photo4{
    flex-basis: 50.5%;
    /* height: 405px; */
    width: 300px;
   
}

.Experiences{
    flex-basis: 52%;
    margin-top: 3rem;
    padding-left: 4rem;
}













*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container4{
    margin: 0;
   height: 450px;
    /* background-color:royalblue; */
    /* height: 100%;
    width: 100%; */
    display: flex;
}

.Education{
  width: 675px;
    flex-basis: 48%;
    margin-top: 3rem;
    padding-left: 4rem;
    
}

.photo2{
flex-basis: 50%;
height: 450px;
width: 50px;
}
.color{
  color:black;
}

.font{
    font-weight: 460;
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.date{
    font-size: large;
    color: black;
}















*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    height: 400px;
  }
  
  
  
  /* Centered text */
  .centered {
      font-weight: 600;
      line-height: inherit;
      color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

 .star{
  line-height: inherit;
   height: 50px;
   position: absolute;
    top: 25%;
   left: 50%; 
   transform: translate(-50%, -50%);
 }



 *,*::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 .container6{
   display: flex;
   height: 100%;
   width: 100%;
 }


 .contact{
  flex-basis: 50%;
 }
 .contact__main-title{
   margin-left: 1rem;
   margin-top: 2rem;
 }
 .contact__input{
 border-top: black;
border-right: black;
border-left: black; 
border-bottom-color: black;
   color: white; 
  margin-top: 1rem;
   margin-left: 2rem;
   height: 40px;
   border: 1;
   background: transparent;
   font-size: large;
   border-width : 0.1rem;
   transition: all 0.5s ease;
 }
 
 .contact__input:hover{
   
   color: wheat;
 }
 .contact__textarea{
  border-top: black;
  border-right: black;
  border-left: black; 
  border-bottom-color: black;
     color: white; 
    /* size: 20px; */
    margin-top: 1rem;
  
     margin-left: 2rem;
     height: 40px;
   border-width : 0.1rem;
     background: transparent;
     font-size: large;
    
 }

.contact__btn{
  margin-left: 1rem;
 margin-top: 3rem;
 display: inline-block;
 padding: 1rem 2rem;
 width: 180px;
 border: 1px solid rgb(12, 12, 12);
 border-radius: 5rem;
 font-weight: 500;
 text-decoration: none;
 color: white;
 transition: all 0.5s ease-in-out;
 margin-top: 8rem;
 background: transparent;
 
}
 
.contact__btn:hover {
  background: transparent;
  background-color: black;
}
 

 .contact__img{
   flex-basis: 20%;
   width: 290px;
   height: 500px;
   margin-left: 1.3rem;
 }
 .contact__icon{
   size: 40rem;
 }

 .contact__info{
  
   background-color:rgb(8, 8, 8);
  padding-left: 2rem;
   flex-basis: 30%;
   height: 500px;
   width: 350px;
 }
 .contact__title{
   color: rgb(255, 251, 251);
  padding-top: 1rem;
   font-size: 50px;
   font-weight: 700;

 }
 .contact__address{
  color: rgb(250, 250, 250);
   font-size:medium;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 10;
   margin-top: 3rem;
  
 }
 .contact__item{
   align-items: baseline;
   margin-top: 1rem;

 letter-spacing: 0.15rem;
   
 }
 .contact__list{
  color: white;
  align-items:baseline;
 }
 .contact__link{
   color: rgb(240, 190, 52);
  
 }
 .contact__heading{
   color: blanchedalmond;
   margin-top: 2rem;
 }
  

 *,*::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }


 .container7{
   display: flex;
   height: 400px;
   width: 100%;
   background-color:rgb(17, 17, 17);
   flex-direction: row;
   
 }
 

 .copy{
   color: blanchedalmond;
   margin-top: 8rem;
   
  font-size: large;
   
   word-spacing: 7px;
   
   margin-left: 30rem;
   
   
 }
 .link{
   margin-left: 4.5rem;
  
 }
 .h11{
   color: blanchedalmond;
   font-size: 17px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   letter-spacing:0.1rem ;
   margin-left: 5.5rem;
   font-weight: 100;
 
   
 }